

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Submit a Post - Cannon Clubs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'display/form.css' %}">
    <link rel="icon" href="{% static 'display/cannonclubs.png' %}"><link>
</head>
<body>
    <header id="navbar">
        <button id="menu-button">&#9776; Menu</button>
        <h1>Cannon Clubs!</h1>
        
        <nav class="navbar-container">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/blog/form" class="nav-link">Create Blog</a></li>
            </ul>
        </nav>
    </header>
    
    <script>
        
        // This function runs when the DOM has fully loaded
        var navList = document.querySelector('.nav-list');
        

        // Add event listener for the menu button
        document.getElementById('menu-button').addEventListener('click', function() {
            
            if (navList.style.display === 'none' || navList.style.display === "") {
                navList.style.display = "flex";
            }
            else {
                navList.style.display = "none";
            }
            //navList.classList.toggle('show');
            });
       
        
    </script>
    
    <div class="container">
        <h2 style="color: black;">Create a Club</h2>
        <form method="post" id="club-form">{% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Club Name:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.leaders.id_for_label }}">Leaders:</label>
                {{ form.leaders }}
                </div>
            <div class="form-group">
                <label for="{{ form.emails.id_for_label }}">Email:</label>
                {{ form.emails }}
            
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                <textarea name="{{ form.description.name }}" id="{{ form.description.id }}" rows="4"></textarea>
            
            </div>
            </div>
            <input type="submit" value="Save">
        </form>
    </div>
    
    <footer>
        &copy; 2023 Cannon Clubs
    </footer>

    
</body>
</html>
