{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home - Cannon Clubs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'display/style.css' %}">
</head>
<body>
    
        <header id="navbar">
            <nav class="navbar-container">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="/blog/form" class="nav-link">Create Blog</a></li>
                </ul>
            </nav>
        </header>
        <h1>Cannon Clubs!</h1>
    
    <nav>
        <ul>
            <!-- Navigation links go here -->
        </ul>
    </nav>
    <div class="main" id="projects">
        <div class="grid">
        {% if club_list %}
            
                {% for club in club_list %}
                <div class="item" id="pinkish">
                    <img src="{% static 'display/cannonclubs.png' %}" class="small">
                    <h3><a class="projectlink" href="{% url 'display:club' club.id %}">{{ club.name }}</a></h3>
                </div>
                    {% endfor %}
            
        {% else %}
            <p>No clubs are available.</p>
        {% endif %}
    </div>
    </div>
    
    <footer>
        &copy; 2023 Cannon Clubs
    </footer>
</body>
</html>
