{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home - Cannon Clubs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body>
    <header id="navbar">
        <h1>Cannon Clubs</h1>
        <nav class="navbar-container">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/blog/form" class="nav-link">Create Blog</a></li>
            </ul>
        </nav>
    </header>
       
    
   
    <div class="container">
        {% if latest_blog_entries %}
            <ul class="cool-list">
                {% for post in latest_blog_entries %}
                    <li><a href="{% url 'blog:post' post.id %}">{{ post.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No posts are available.</p>
        {% endif %}
        
    </div>
    
    <footer>
        &copy; 2023 Cannon Clubs
    </footer>
</body>
</html>
