{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.name }} - Cannon Clubs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <link rel="icon" href="{% static 'display/cannonclubs.png' %}"><link>
</head>
<body>
    <header id="navbar">
        <h1>Cannon Clubs</h1>
        <nav class="navbar-container">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/blog/form" class="nav-link">Create Blog</a></li>
            </ul>
        </nav>
    </header>
       
    <div class="container">
        <h1 class="post-title">{{ post.name }}</h1>
        <p class="post-date">{{ post.pub_date }}</p>
        <div class="post-content">
            {{ post.words }}
        </div>
    </div>
    <footer>
        &copy; 2023 Cannon Clubs
    </footer>
</body>
</html>
