{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.name }} - Cannon Clubs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body>
    <header>
        <h1>Your Blog</h1>
    </header>
    <nav>
        <ul>
            <!-- Navigation links go here -->
        </ul>
    </nav>
    <div class="container">
        <h1 class="post-title">{{ post.name }}</h1>
        <p class="post-date">{{ post.pub_date }}</p>
        <div class="post-content">
            {{ post.words }}
        </div>
    </div>
    <footer>
        &copy; 2023 Cannon Clubs
    </footer>
</body>
</html>
